body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.question {
  margin-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.choices {
  margin-left: 20px;
}

.wrong {
  color: red;
}

.correct {
  color: rgb(7, 186, 7);
  font-weight: bold;
}

/* .correct-highlight {
  color: rgb(7, 186, 7);
  font-weight: bold;
} */
.navigation {
  margin-top: 20px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.dashboard div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
}

.dashboard .answered {
  background-color: lightgreen;
}

.dashboard .unanswered {
  background-color: lightcoral;
}

.dashboard div.current {
  background-color: #3c8aff;
  font-weight: bold;
}

.dashboard div.current:hover {
  cursor: pointer;
  background-color: #ddf5ff;
}

.hidden-dashboard {
  display: none !important;
}

.summary {
  margin-top: 30px;
  font-weight: bold;
}

#dashboard-container {
  margin-top: 10px;
}

#mode-select {
  margin-top: 20px;
}

#review-container {
  margin-top: 20px;
  display: none;
}

#reset-btn {
  position: fixed;
  margin-top: 20px;
  padding: 5px 20px;
  /* position: absolute; */
  right: 20px;
  top: 20px;
  border-radius: 3px;
  background-color: rgb(209, 209, 209);
}

#reset-btn:hover {
  cursor: pointer;
  background-color: #033dea;
  color: #ddd;
}

#next-btn:hover {
  cursor: pointer;
  background-color: rgb(186, 252, 201);
}

#submit-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 196, 58);
}

#prev-btn:hover {
  cursor: pointer;
  background-color: rgb(186, 252, 201);
}

#toggle-dashboard-btn {
  margin-top: 20px;
}

#countdown-timer {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(208, 208, 208, 0.7);
  color: rgb(82, 82, 82);
  padding: 5px;
  border-radius: 5px;
}

#start-btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px 0px 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#num-questions {
  margin-bottom: 6px;
}

#timer {
  margin-bottom: 6px;
}

#pass-score {
  margin-bottom: 6px;
}

#start-btn:hover {
  background-color: #45a049;
}

start-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#start-btn:active {
  background-color: #3e8e41;
  transform: scale(0.98);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}